$primary: #EA4035;
$secondary: #3593EA;
$gray-secondary: #B3B3B3;
$primary_bg_color:  #F8F8F8;
$green: #00BD5B;
$warning: #F9C80E;
$dark: #2F3940;
$outline_color: #E6E8EC;
$outline_focus_color: #B6BBC6;
$inactive_color: #F3F4F5;
$disabled_text: #AAAAAA;
$white: #FFFFFF;
$bg_fill_default: #F3F3F3;